@media screen and (min-width: 1024px) {
    .main {
        align-items: center;
        .desktop-introduction {
            width: 50%;
        }
    }
    
    .section-main {
        width: 50%;
    }
    
    .git-contain {
        display: flex;
        justify-content: center !important;
        gap: 50px;
    }
}

.git-contain {
    
    img {
        border: none;
        border-radius: 100%;
    }
    
}
